.transition1 {
  width: 100px;
  height: 100px;
  background: red;
  transition: width;
  transition-duration: 2s;
  margin-bottom: 20px;
}

.transition1:hover {
  width: 300px;
}

.transition2 {
  width: 100px;
  height: 100px;
  background: green;
  margin-bottom: 20px;
  transition: height 3s;
}

.transition2:hover {
  height: 200px;
}

.transition3 {
  width: 100px;
  height: 100px;
  background: blue;
  transition: height, width;
  transition-duration: 4s;
}

.transition3:hover {
  width: 300px;
  height: 300px;
}